{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>양서고등학교 설문조사</title>
<!-- JAVA SCRIPT -->
    <script>
        const csrfToken = '{{ csrf_token }}'; // Django의 CSRF 토큰을 JavaScript 변수로 저장
        // Variable ======================================================
        const paths = [
        // about A
            {id: 'A B 0', points: [
                [155, 595],
                [180, 612, 170, 630],
                [150, 680, 200, 680], 
                [270, 650, 260, 700],
                [240, 769, 240, 769]
            ]},
            {id: 'A D 0', points: [
                [155, 595],
                [190, 550, 220, 460],
                [240, 370, 400, 225],
                [460, 160, 617, 165]
            ]},
            {id: 'A 1 0', points: [
                [155, 595],
                [200, 610, 220, 570],
                [230, 540, 246, 565],
                [260, 590, 266, 587]
            ]},
        // about B
            {id: 'B C 0', points: [
                [220, 830],
                [210, 900, 210, 905]
            ]},
            {id: 'B 1 0', points: [
                [240, 769],
                [290, 740, 290, 616]
            ]},
        // about C
            {id: 'C G 0', points: [
                [237, 945],
                [330, 960, 340, 1100],
                [350, 1270, 430, 1280],
                [500, 1300, 800, 1327],
                [890, 1340, 887, 1300]
            ]},
            {id: 'C I 0', points: [
                [237, 945],
                [330, 940, 320, 880],
                [320, 830, 350, 830],
                [380, 830, 376, 760],
                [375, 720, 460, 730],
                [600, 740, 960, 715],
                [1000, 710, 1030, 760],
                [1060, 840, 1338, 790]
            ]},
        // about D
            {id: 'D 2 0', points: [
                [650, 195],
                [660, 240, 500, 240],
                [460, 240, 430, 280],
                [400, 330, 400, 360]
            ]},
            {id: 'D 3 0', points: [
                [650, 195],
                [630, 240, 770, 230],
                [900, 230, 820, 290],
                [790, 310, 795, 350]
            ]},
        // about E
            {id: 'E 2 0', points: [
                [600, 380],
                [600, 380, 428, 380]
            ]},
            {id: 'E 3 0', points: [
                [660, 380],
                [660, 380, 770, 376]
            ]},
        // about F
            {id: 'F H 0', points: [
                [1084, 305],
                [1220, 315, 1225, 260],
                [1240, 230, 1250, 260],
                [1260, 290, 1255, 400],
                [1240, 520, 1300, 520],
                [1340, 520, 1350, 495]
            ]},
            {id: 'F 3 0', points: [
                [1020, 300],
                [1020, 300, 910, 285],
                [897, 280, 896, 270],
                [890, 230, 870, 270],
                [870, 300, 850, 304],
                [820, 300, 795, 350]
            ]},
            {id: 'F 3 1', points: [
                [1020, 300],
                [1020, 300, 910, 285],
                [897, 280, 896, 300],
                [897, 280, 896, 340],
                [897, 356, 856, 352],
                [818, 348, 810, 360]
            ]},
            {id: 'F 4 0', points: [
                [1050, 330],
                [1050, 330, 1050, 490]
            ]},

        // about G
            {id: 'G I 0', points: [
                [887, 1240],
                [887, 1240, 910, 1050],
                [910, 990, 1090, 970],
                [1200, 960, 1350, 805]
            ]},
            {id: 'G 3 0', points:[
                [887, 1240],
                [887, 1240, 910, 1050],
                [880, 600, 850, 500],
                [830, 450, 800, 450],
                [770, 450, 790, 400]
            ]},
            {id: 'G 4 0', points: [
                [887, 1240],
                [887, 1240, 910, 1050],
                [910, 990, 1090, 970],
                [1180, 970, 1060, 530]
            ]},
        // about H
            {id: 'H I 0', points: [
                [1350, 495],
                [1340, 500, 1340, 610],
                [1340, 650, 1380, 680],
                [1400, 700, 1385, 750]
            ]},
            {id : 'H 4 0', points: [
                [1350, 495],
                [1340, 500, 1340, 610],
                [1340, 670, 1070, 520]
            ]},
            {id: 'H 4 1', points: [
                [1350, 495],
                [1340, 520, 1270, 520],
                [1340, 520, 1070, 505]
            ]},
        // about I
            {id: 'I 1 0', points: [
                [1338, 790],
                [1060, 840, 1030, 760],
                [1000, 710, 960, 715],
                [800, 726, 800, 726],
                [700, 726, 340, 650],
                [310, 640, 300, 610]
            ]},
        // about num
            {id: '1 2 0', points: [
                [305, 575],
                [330, 500, 390, 460],
                [410, 440, 405, 405]
            ]},
            {id: '3 4 0', points: [
                [790, 400],
                [770, 450, 800, 450],
                [800, 453, 940, 450],
                [1000, 450, 1030, 500]
            ]},
            {id: '3 4 1', points: [
                [810, 360],
                [818, 348, 856, 352],
                [897, 356, 956, 360],
                [1020, 360, 1030, 400],
                [1036, 450, 1050, 490]
            ]}
        ];
        const nodes = [
            // Main Node
            {selcted: false, id: 'A', point: [31, [120, 594]]},
            {selcted: false, id: 'B', point: [31, [220, 797]]},
            {selcted: false, id: 'C', point: [31, [205, 940]]},
            {selcted: false, id: 'D', point: [31, [650, 164]]},
            {selcted: false, id: 'E', point: [31, [630, 378]]},
            {selcted: false, id: 'F', point: [31, [1049, 303]]},
            {selcted: false, id: 'G', point: [31, [888, 1270]]},
            {selcted: false, id: 'H', point: [31, [1354, 465]]},
            {selcted: false, id: 'I', point: [31, [1371, 780]]},
            // Auxiliary node
            {selcted: false, id: '1', point: [21, [290, 594]]},
            {selcted: false, id: '2', point: [21, [404, 384]]},
            {selcted: false, id: '3', point: [21, [792, 375]]},
            {selcted: false, id: '4', point: [21, [1050, 510]]}
        ];
        const hiddenColor = ['#386641', '#A7C957', '#FABC3F', '#E85C0D', '#86469C', '#BC7FCD'];
        const pathColor = ['#F95454', '#D14D72', '#F95454', '#C62E2E'];
        
        const hidden = [[880, 240], [910, 320], [990, 350], [940, 464], [1150, 495], [1200, 605]];
        const startNode = "{{startNode}}";
        const endNode = "{{endNode}}";
        let currentNode = startNode;
        let selectedPaths = [];
        let selectedNodes = [];

        // Function ======================================================
        function hiddenNumber(id) {
            const idMap = {
                'F 3 0': 0,
                'F 3 1': 1,
                '3 4 1': 2,
                '3 4 0': 3,
                'H 4 1': 4,
                'H 4 0': 5
            };
            // 해당 id가 idMap에 있는지 확인하고, undefined일 경우에만 null 반환
            return idMap.hasOwnProperty(id) ? idMap[id] : null;
        }
        function convertNumber(str) {
            let result
            switch (str) {
                case 'A': result = 1; break;
                case 'B': result = 2; break;
                case 'C': result = 3; break;
                case 'D': result = 4; break;
                case 'E': result = 5; break;
                case 'F': result = 6; break;
                case 'G': result = 7; break;
                case 'H': result = 8; break;
                case 'I': result = 9; break;
                case '1': result = 10; break;
                case '2': result = 11; break;
                case '3': result = 12; break;
                case '4': result = 13; break;
                default: result = null; // str이 어떤 경우에도 해당하지 않으면 null
            }
            return result;
        }
        
       // Main Function --------------------------------------------------
        function draw() {
            var canvas = document.getElementById('path');
            if (canvas.getContext) {
                var ctx = canvas.getContext("2d");
                var image = new Image();
                image.src = "{% static 'Main/YSHS_Map.jpg' %}"

                // 이미지 그리기
                image.addEventListener('load', () => {
                    // 캔버스와 이미지 크기 같게
                    canvas.width = image.width;
                    canvas.height = image.height;
                    ctx.drawImage(image, 0, 0, canvas.width, canvas.height);

                    // Draw Path
                    drawPath(ctx);
                    
                    // Draw Node
                    drawNode(ctx);
                });
            }
        }

        // Path Function ------------------------------------------------
        function drawPath(ctx) {
            // alert(selectedNodes)
            // 곡선 그리기
            let pathN = 3
            ctx.lineWidth = 10;
            ctx.lineCap = 'round';
            ctx.lineJoin = 'round';
            // 화면에 나타내기
            for(const path of paths) {
                const [a, b, c] = path.id.split(' ');
                if (selectedPaths.includes(path.id)) {
                    ctx.strokeStyle = '#0680dc';    // 파란색
                    ctx.globalAlpha = 0.9;
                } else if ((a == currentNode || b == currentNode) && !(selectedNodes.includes(a) || selectedNodes.includes(b))) {
                    ctx.globalAlpha = 0.9;
                    const fhidden = hiddenNumber(path.id);
                    if (fhidden !== null) {
                        ctx.fillStyle = hiddenColor[fhidden];
                        ctx.strokeStyle = hiddenColor[fhidden];
                        hiddenButten(ctx, fhidden);
                    } else {
                        ctx.strokeStyle = pathColor[pathN % 4];    // 
                        pathN += 1
                    }
                } else {
                    ctx.strokeStyle = '#000000';
                    ctx.globalAlpha = 0.1;
                }
                ctx.beginPath();
                ctx.moveTo(path.points[0][0], path.points[0][1]);
                for(const point of path.points.slice(1)) {
                    ctx.quadraticCurveTo(point[0], point[1], point[2], point[3]);
                }
                ctx.stroke();
            }
            selectedNodes.push(currentNode);
        }

        // Node Function ------------------------------------------------
        function drawNode(ctx) {
            ctx.globalAlpha = 1;
            for (node of nodes) {
                const [r, pos] = node.point;
                if (node.id == currentNode) {
                    ctx.fillStyle = '#ffe599'
                } else {
                    if (r > 30) {
                        // Target Node
                        ctx.fillStyle = '#000000';
                    } else {
                        // Auxiliary node
                        ctx.fillStyle = '#bfb7b6';
                    }
                }
                // ctx.fillStyle = '#ea5757'
                ctx.beginPath();
                //arc(x, y, radius, startAngle, anticlockwise)
                ctx.arc(pos[0], pos[1], r, 0, (Math.PI * 2), false);
                ctx.fill();
                ctx.strokeStyle = '#000000';
                ctx.lineWidth = 3;
                ctx.stroke();
                drawTextInCenter(ctx, node.selcted, node.id, r, pos);
            }
        }
        function drawTextInCenter(ctx, fselect, id, r, position) {
            if (id == currentNode) {
                ctx.fillStyle = '#000000';
                if (r > 30) {
                    ctx.font = 'bold 30px arial';
                } else {
                    ctx.font = 'bold 26px.arial';
                }
            } else {
                if (r > 30) {
                    // Target Node
                    ctx.fillStyle = '#ffffff';
                    ctx.font = 'bold 30px arial';
                } else {
                    // Auxiliary node
                    ctx.font = 'bold 26px arial';
                    ctx.fillStyle = '#000000';
                }
            }

            const [circleX, circleY] = position;
            const textSize = ctx.measureText(id);
            const width = textSize.width;
            const height = textSize.actualBoundingBoxAscent + textSize.actualBoundingBoxDescent;
            const x = circleX - Math.floor(width / 2);
            const y = circleY + Math.floor(height / 2);
            ctx.fillText(id, x, y)
        }
        function hiddenButten(ctx, n) {
            //arc(x, y, radius, startAngle, anticlockwise)
            ctx.beginPath();
            ctx.arc(hidden[n][0], hidden[n][1], 15, 0, (Math.PI * 2),  false);
            ctx.fill();

        }

        // Event Function ------------------------------------------------
        // Node
        function clickedNode(nodeN) {
            const connectedNode = getConnectedNode(currentNode);
            if (connectedNode.includes(nodeN) && !(selectedNodes.includes(nodeN))) {
                if (!fConnectedHidden(currentNode, nodeN)) {
                    let id = 'A B 0';
                    const a = convertNumber(currentNode);
                    const b = convertNumber(nodeN);
                    if (a < b) {
                        id = currentNode + ' ' + nodeN + ' 0';
                    } else {
                        id = nodeN + ' ' + currentNode + ' 0';
                    }
                    selectedPaths.push(id);
                    currentNode = nodeN;
                    draw();
                }
            }
        }
        function getConnectedNode(targetNode) {
            const connect = [];
            for (path of paths) {
                const [a, b, trash] = path.id.split(' ');
                if (targetNode == a) {
                    connect.push(b);
                } else if (targetNode == b) {
                    connect.push(a);
                }
            }
            const setConnect = new Set(connect);
            return Array.from(setConnect);
        }
        function fConnectedHidden(start, end) { 
            const hiddenConnect = [['F', '3'], ['3', '4'], ['H', '4']];
            for (hi of hiddenConnect) {
                if ((start == hi[0] && end == hi[1]) || (start == hi[1] && end == hi[0])) {
                    return true;
                }
            }
            return false
        }
        // Hidden
        function clickedHidden(n) {
            const hiddenMap = ['F 3 0', 'F 3 1', '3 4 1', '3 4 0', 'H 4 1', 'H 4 0'];
            const pathId = hiddenMap[n]
            const [start, end, number] = pathId.split(' ');
            if (currentNode == start) {
                selectedPaths.push(pathId);
                currentNode = end;
                draw();
            } else if (currentNode == end) {
                selectedPaths.push(pathId);
                currentNode = start;
                draw();
            }
        }
        function passClick() {
            window.location.href = '/{{ nextUrl }}/';
        }
        function submitClick() {
            if (currentNode == endNode) {
                const url = getUrl();
                fetch(`/${url}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken  // 위에서 저장한 CSRF 토큰을 사용
                    },
                    body: JSON.stringify({})
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        // alert(`변수 '${data.name}'의 값이 ${data.newValue}로 증가했습니다.`);
                        // alert(data.redirectUrl);
                        window.location.href = data.redirectUrl;
                    } else {
                        alert('버그를 발견했습니다! @tree_kicker07로 문의주세요');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('오류가 발생했습니다. #tree_kicker07로 문의주세요');
                });
            } else {
                let message = endNode + '까지 도달하지 못했습니다.\n' + endNode + '까지 간 다음에 시도해 주세요. 파이팅!!!'
                alert(message);
            }
        }
        // CSRF 토큰을 가져오는 함수 (Django의 보안 설정에 필요)
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // CSRF 토큰을 찾음
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function getUrl() {
            let name = '';
            for (path of selectedPaths) {
                const [a, b, c] = path.split(' ');
                name += a + b + c + ':'
            }
            const url = '{{startNode}}' + '-' + '{{endNode}}' + '/' + name;
            return url;
        }

        function backClick() {
            if (selectedNodes.length > 1) {
                currentNode = selectedNodes[selectedNodes.length - 2];
                selectedPaths.pop();
                selectedNodes.pop();
                selectedNodes.pop();
                draw();
            }
        }
        function resetClick() {
            currentNode = '{{startNode}}';
            selectedPaths = [];
            selectedNodes = [];
            draw();
        }
    </script>
<!-- CSS -->
<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #f4f4f4;
    }
    :root{
        /* 지도 변수 with canvas, image, shoolMap*/
        --border: 2px;
        --margin: 20px;
    }
    #hello {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
        text-align: center;
        background-color: #e9e8e8;
        padding: 20px 30px;
        border: none;
        border-radius: 15px;
    }
    .title {
        font-size: 200%;
        margin-bottom: 10px;
    }
    #stress1 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 10px;
        width: 50%;
        text-align: center;
        background-color: #5f5f5f;
        padding: 10px;
        border: none;
        border-radius: 5px;

    }
    .surveyName {
        font-size: 150%;
        color: #F4CE14;
        text-decoration: underline;
        font-family:'Courier New', Courier, monospace;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .explanation {
        font-size: 20px;
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #stress2 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 10px;
        width: 50%;
        text-align: center;
        background-color: #f2e2a7 ;
        padding: 1px 10px;
        border: none;
        border-radius: 5px;
    }
    .colorexplanation {
        font-size: 20px;
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    .sorry {
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 0px;
    }
    #Button {
        display: flex;
        justify-content: right;
        margin-bottom: -10px;
    }
    #pass {
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        background-color: #000;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
    }
    #submit {
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        background-color: #000;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 60px;
    }
    #back {
        position: relative;
        margin-right: 10px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        background-color: #000;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    #reset {
        position: relative;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff; /* 글자색 */
        background-color: #000;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    #container {
        position: relative;
        margin-left: 1%;

    }
    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 1752px; /* 화면 크기에 맞게 자동 조정 */
        height: auto;
        border: var(--border) solid #000;
        margin-top: var(--margin);
    }
    #schoolMap {
        position: absolute;
        top: calc(var(--margin) + var(--border));
        left: var(--border);
        width: 1752px; /* 화면 크기에 맞게 자동 조정 */
        height: auto;
        opacity: 0%;
    }
</style>
</head>
<!-- HTML -->
<body onload="draw();">
    <div id="hello">
        <h1 class="title">양서고등학교 이동 경로 조사</h1>
        <div id="stress1">
            <h6 class="surveyName">{{startNode}}에서 {{endNode}}로 가는 경로 이동을 만들어 주세요</h6>
        </div>
        <p class="explanation">검은색&회색 동그라미를 클릭해서 길을 선택해 주세요<br>
            원하는 길이 없더라도 최대한 비슷하게만 하면 됩니다 파이팅!!</p>
        <div id="stress2">
            <p class="colorexplanation"> 초록색&노란색&주황색&보라색 길이 나온다면 그 길을 클릭해 주세요<br>
                파란색은 현재 지나온 길을 의미합니다</p>
        </div>
        <p class="explanation">질문은 DM으로 연락주세요🙏 @tree_kicker07</p>
        <p class="sorry">제 기술이 부족해 길을 선택하는 지도는 원본 사이즈 입니다...</p>

    </div>
    <div id="Button">    
        <button id="pass" onclick="passClick()">넘어가기</button>
        <button id="submit" onclick="submitClick()">제출</button>
        <button id="back" onclick="backClick()">⤺뒤로</button>
        <button id="reset" onclick="resetClick()">경로 선택 리셋</button>
    </div>
    <div id="container">       
        <canvas id="path" width="" height=""></canvas>
        <img id="schoolMap" src="{% static 'Main/YSHS_Map.jpg' %}" alt="학교 지도", usemap="#Map">
        <map name="Map">
            <!-- Target Node -->
            <area target="" alt="A" title="A" onclick="clickedNode('A')" coords="118,594,33" shape="circle">
            <area target="" alt="B" title="B" onclick="clickedNode('B')" coords="219,797,31" shape="circle">
            <area target="" alt="C" title="C" onclick="clickedNode('C')" coords="204,939,34" shape="circle">
            <area target="" alt="D" title="D" onclick="clickedNode('D')" coords="649,162,33" shape="circle">
            <area target="" alt="E" title="E" onclick="clickedNode('E')" coords="631,378,32" shape="circle">
            <area target="" alt="F" title="F" onclick="clickedNode('F')" coords="1050,305,30" shape="circle">
            <area target="" alt="G" title="G" onclick="clickedNode('G')" coords="889,1272,30" shape="circle">
            <area target="" alt="H" title="H" onclick="clickedNode('H')" coords="1353,466,30" shape="circle">
            <area target="" alt="I" title="I" onclick="clickedNode('I')" coords="1370,778,32" shape="circle">
            <!-- Auxiliary Node -->
            <area target="" alt="1" title="1" onclick="clickedNode('1')" coords="288,594,18" shape="circle">
            <area target="" alt="2" title="2" onclick="clickedNode('2')" coords="405,384,20" shape="circle">
            <area target="" alt="3" title="3" onclick="clickedNode('3')" coords="794,375,19" shape="circle">
            <area target="" alt="4" title="4" onclick="clickedNode('4')" coords="1050,512,19" shape="circle">
            <!-- hidden button -->
            <area target="" alt="H0" title="H0" onclick="clickedHidden(0)" href="javascript:void(0);" coords="803,319,869,259,859,227,895,216,912,267,886,282,801,351" shape="poly">
            <area target="" alt="H1" title="H1" onclick="clickedHidden(1)" href="javascript:void(0);" coords="882,288,916,269,1013,286,1013,307,901,344,880,342" shape="poly">
            <area target="" alt="H2" title="H2" onclick="clickedHidden(2)" href="javascript:void(0);" coords="807,352,829,342,910,348,1000,327,1043,395,1043,448,1032,474,978,395,814,369" shape="poly">
            <area target="" alt="H3" title="H3" onclick="clickedHidden(3)" href="javascript:void(0);" coords="777,397,767,457,1028,507,1034,490,985,438" shape="poly">
            <area target="" alt="H4" title="H4" onclick="clickedHidden(4)" href="javascript:void(0);" coords="1066,515,1220,545,1329,514,1353,499,1145,472,1071,494,1066,515" shape="poly">
            <area target="" alt="H5" title="H5" onclick="clickedHidden(5)" href="javascript:void(0);" coords="1327,519,1351,504,1345,644,1186,637,1062,524,1069,517,1220,554,1308,586" shape="poly">
        </map>
    </div>
</body>
</html>